@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    text-align: left;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: hsl(0, 0%, 95%);
    font-size: 0.9375rem;
}

img {
    max-width: 100%;
    height: auto;
}


/* MAIN SECTION */

.main {
    padding: 7% 10%;
    background-color: #fff;
    box-shadow: 0 15px 13px 2px #dbdbdb;
    max-width: 78rem;
}

.col-md-4 {
    padding: 2.5rem;
}


/* SUB-SECTION */

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 8px 8px 0;
}

.sedans_btn {
    color: hsl(31, 77%, 52%) !important;
}

.suvs_btn {
    color: hsl(184, 100%, 22%) !important;
}

.luxury_btn {
    color: hsl(179, 100%, 13%) !important;
}

.type {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    padding: 1.5rem 0;
    margin: 0;
    text-transform: uppercase;
}

.description,
a {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.description {
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 3rem;
    line-height: 1.8rem;
}

.btn {
    color: rgb(0, 0, 0);
    width: 8.8rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%) !important;
}

.btn:hover {
    color: hsl(0, 0%, 95%) !important;
    background-color: transparent;
}


/* FOOTER SECTION */

.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    top: 3rem;
    padding-bottom: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* MEDIA QUERYS */

@media screen and (max-width:47.95rem) {
    .main {
        min-width: 26rem;
    }
    .sedans {
        border-radius: 8px 8px 0 0;
    }
    .luxury {
        border-radius: 0 0 8px 8px;
    }
    .type {
        font-size: 2.5rem;
    }
    .description {
        padding-bottom: 0.5rem;
    }
}